<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492969056564-69j1bqdr7bk7cpbp7t4nfof2mjfcda7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492969056564-69j1bqdr7bk7cpbp7t4nfof2mjfcda7d</string>
	<key>API_KEY</key>
	<string>AIzaSyAIZOHUBktmP5nO2VAgioJgBsBQMrd9Plg</string>
	<key>GCM_SENDER_ID</key>
	<string>492969056564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.turkticaret.cupcoffee.cupcoffee</string>
	<key>PROJECT_ID</key>
	<string>cupcoffee-f39e6</string>
	<key>STORAGE_BUCKET</key>
	<string>cupcoffee-f39e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492969056564:ios:35ebbf212c9a6e5ba52d61</string>
</dict>
</plist>